* {
    box-sizing: border-box;
  }
  
  img {
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }
  #image-container {
    padding-left: 75px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 175px;
  }
  #leftImg,
  #rightImg,
  #midelImg
   {
    width: 200px;
    margin: 10px;
    /* display: block; */
    /* margin: 0 auto; */
    border-radius: 10px;
  }
  span {
    margin-left: 50px;
    /* border: 4px;
    border-style:solid;    */
  }
  #attempts {
    margin-left: 20px;
    font-size: 30px;
    
   
  }
  p{text-align: center;
text-decoration: dotteds;
margin-top: 10px;
font-size: larger;
font-weight: bolder;
border: double;
}
#results
{background-color: rgb(152, 219, 126);
display: inline-block;
border-color: darkblue;
border: 10px;
margin: 30px;
font-weight: bolder;
border-style: dotted;}
#divContener{border: solid;
    border-style: double;
    width: 250px;
}
/* ------------------- */
body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content:space-around;
    background-color: rgb(244, 247, 236);
  
  }
 
  
  

  
  
  
  
 
  
  